/* GENERALI */
/* Regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
    font-size: 13px;
}

.button {
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    border: 1px solid white;
    text-align: center;
}



/* UPPER */
/* Definisco lo stile dell'Upper (tutto ciò che è sopra il footer) */
#upper {
    height: calc(100vh - 80px);
    background-color: #1b1b1b;
    display: flex;
    z-index: 0;
}


/* HEADER */
/* Definisco lo stile dell'header */
header {
    height: 80px;
    width: calc(100% - 250px);
    margin-left: 250px;
    background-color: #101010;
    position: fixed;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
}

.col-lg-2{
    text-align: center;
}



/* LEFT SIDE BAR */
/* Definisco la left-side bar ovvero la barra sinistra della pagina */
#left-side {
    height: 100%;
    width: 250px;
    color: white;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
    align-items: flex-start;
}

/* Definisco il primo container interno alla left-side */
#left-side-container{
    padding: 10px 0;
    width: 250px;
    color: white;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:center ;
    align-items: flex-start;
    gap: 15px;
}

.left-side-image{
    padding: 10px;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
}

.left-side-image img{
    max-width: 70%;
    max-height: 100%;
    object-fit: cover;
}


/* Definisco lo stile del menu della left-side */
.menu {
    width: 100%;
    list-style-type: none;
}

.menu li{
    padding: 7px 15px;
    opacity: 0.6;
}

.no-opacity{ 
    opacity: 1 !important;
}

#border-yellow{
    border-left: 3px solid #a7f815;
}

#border-bottom-yellow{
    border-bottom: 1px solid #a7f815;
}

#menu-bar{
    width: 250px;
    height: 1px;
    margin: 10px 0;
    background-color: white;
    opacity: 0.6;
}

/* Definisco la grandezza e lo stile per il menu title, text, symbol */
.text-title{
    font-size: 15px;
    font-weight: 600;
}

.text-menu{
    font-size: 13px;
}

.little-text-menu{
    font-size: 11px;
}

.symbol-menu > i{
    font-size: 20px;
    margin-right: 10px;
}

.little-symbol-menu > i{
    font-size: 10px;
    margin-right: 10px;
}

.fa-plus{
    background-color: white;
    color: #666666;
    padding: 10px;
}

.fa-user{
    border-radius: 50%;
    background-color: #666666;
    padding: 5px;
}



/* MAIN */
/* Definisco lo stile del main */
main {
    width: calc(100% - 250px);
    height: 100%;
    color: white;
    margin-top: 80px;
    margin-bottom: 100px;
    padding: 10px;
    overflow-y: scroll;
}

.main-menu {
    width: 100%;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.main-menu li{
    padding: 10px 15px;
    opacity: 0.6;
}

main h2{
    margin-left: 15px;
    font-size: 25px;
    font-weight: 500;
}

main h3{
    text-align: center;
    font-size: 15px;
    font-weight: 500;
}


/* Definisco lo stile della recently play, John-Doe e artisti-popolari*/
.recently-play{
    margin: 20px auto;
}

.subtitle{
    font-size: 10px;
    opacity: 0.6;
    margin-top: 5px;
    text-align: center;
}
.main-subtitle {
    font-size: 10px;
    opacity: 0.6;
    margin-top: 5px;
    text-align: left;
    padding: 5px 15px;
}

/* Definisco il container contenente le immagini e gestisco il simbolo del play sopra */
.image-container{
    position: relative;
}

.image-container span{
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    display: none;
}

.main-central-big-symbol-menu>i{
    font-size: 60px;  
}

.image-container img{
    max-width: 100%;
    object-fit: cover;
    padding: 15px;
}

/* Temporaneo */
.row img{
    max-width: 100%;
    object-fit: cover;
    padding: 15px;
}
/* Temporaneo */

.artisti-popolari img{
    border-radius: 50%;
    max-width: 100%;
    object-fit: cover;
    padding: 15px;
}

.john-doe{
    margin: 40px 0;
}

.artisti-popolari{
    margin-bottom: 100px;
}



/* FOOTER */
/* Definisco lo stile del footer ovvero del Player */
footer {
    width: 100%;
    height: 80px;
    background-color: #3f3f3f;
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer-container{
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    flex-direction: row;
    flex-wrap: wrap;
}

.little-row-footer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

.little-column-footer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

.footer-image{
    width: 50px;
    height: 50px;

}
.footer-image img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

/* Definisco lo stile del testo e dei simboli del footer */
.footer-title{
    font-size: 13px;
    font-weight: 600;
}

.footer-text{
    opacity: 0.6;
    font-size: 10px;
}

.footer-symbol-menu {
    opacity: 0.6;
}

.footer-symbol-menu > i{
    font-size: 15px;
}

.footer-central-symbol-menu{
    margin: 0 10px;
}
.footer-central-symbol-menu > i{
    font-size: 18px;
}

.footer-central-big-symbol-menu > i{
    font-size: 25px;
}

.fa-heart{
    margin-left: 25px;
}

/* Definisco la barra di centrale del footer */
.footer-central-bar{
    height: 4px;
    width: 400px;
    border-radius: 20px;
    background-color: #666666;
    opacity: 0.6;
    position: relative;
}

.footer-central-internal-bar{
    height: 4px;
    width: 50px;
    border-radius: 20px;
    background-color: white;
}

.circle{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: 45px;
    bottom: -4px;
    display: none;
}


/* Definisco la barra di destra del footer */
.footer-right-bar{
    height: 3px;
    width: 130px;
    border-radius: 20px;
    background-color: #666666;
    opacity: 0.6;
    position: relative;
}

.footer-right-internal-bar{
    height: 3px;
    width: 50px;
    border-radius: 20px;
    background-color: white;
}





/* INSERIMENTO DEGLI HOVER */

/* Inserisco gli hover per il player sulle immagini */
.image-container:hover > span{
    display: block;
}

.image-container:hover > img{
    opacity: 0.6;
}

/* Inserisco l'hover per il button */
.button:hover{
    padding: 15px 25px;
    border-radius: 30px;
    cursor: pointer;
}

/* Inserisco l'hover per gli li */
li:hover {
    opacity: 1;
}

/* Inserisco l'hover per il testo piccolo del footer e per i simboli */
.footer-text:hover{
    text-decoration: underline;
    opacity: 1;
}

.footer-symbol-menu:hover{
    opacity: 1;
}

.footer-central-big-symbol-menu:hover > i{
    font-size: 40px;
}


/* Gestisco gli hover delle barre nel footer */
/* Barra centrale */
.footer-central-bar:hover {
    opacity: 1;
}

.footer-central-bar:hover > .footer-central-internal-bar{
    background-color: #a7f815;
}

.footer-central-bar:hover > .circle{
    display: block;
    bottom: -3px;
}

/* Barra di destra */
.footer-right-bar:hover {
    opacity: 1;
}

.footer-right-bar:hover > .footer-right-internal-bar{
    background-color: #a7f815;
}
.footer-right-bar:hover > .circle{
    display: block;
}


