/* Regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
    font-size: 13px;
}

.button {
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    border: 1px solid white;
    text-align: center;
}

/* Definisco lo stile dell'Upper (tutto ciò che è sopra il footer) */
#upper {
    height: calc(100vh - 100px);
    background-color: #1b1b1b;
    display: flex;
    z-index: 0;
}

/* Definisco lo stile dell'header */
header {
    height: 80px;
    width: calc(100% - 250px);
    margin-left: 250px;
    background-color: #101010;
    position: fixed;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
}

.col-lg-2{
    text-align: center;
}


/* Definisco la left-side bar ovvero la barra sinistra della pagina */
#left-side {
    height: 100%;
    width: 250px;
    color: white;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
    align-items: flex-start;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Definisco il primo container interno alla left-side */
#left-side-container{
    padding: 10px 0;
    width: 250px;
    color: white;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:center ;
    align-items: flex-start;
    gap: 15px;
}

.left-side-image{
    padding: 10px;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
}

.left-side-image img{
    max-width: 70%;
    max-height: 100%;
    object-fit: cover;
}

.playlist{
    width: 100%;
}

/* Definisco lo stile del menu della left-side */
.menu {
    width: 100%;
    list-style-type: none;
}

.menu li{
    padding: 7px 15px;
    opacity: 0.6;
}

.no-opacity{ 
    opacity: 1 !important;
}

#border-yellow{
    border-left: 3px solid #a7f815;
}

#border-bottom-yellow{
    border-bottom: 1px solid #a7f815;
}
#border-bottom{
    border-bottom: 1px solid white;
}

/* Definisco la grandezza e lo stile per il menu title, text, symbol */
.text-title{
    font-size: 15px;
    font-weight: 600;
}

.text-menu{
    font-size: 13px;
}

.little-text-menu{
    font-size: 11px;
}

.symbol-menu > i{
    font-size: 20px;
    margin-right: 10px;
}

.little-symbol-menu > i{
    font-size: 10px;
    margin-right: 10px;
}

.fa-plus{
    background-color: white;
    color: #666666;
    padding: 10px;
}

.fa-user{
    border-radius: 50%;
    background-color: #666666;
    padding: 5px;
}







/* Definisco lo stile del main */
main {
    width: calc(100% - 250px);
    height: 100%;
    color: white;
    margin-top: 80px;
    margin-bottom: 100px;
    padding: 10px;
    overflow-y: scroll;
}

.main-menu {
    width: 100%;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.main-menu li{
    padding: 10px 15px;
    opacity: 0.6;
}

main h2{
    margin-left: 15px;
    font-size: 25px;
    font-weight: 500;
}

main h3{
    text-align: center;
    font-size: 15px;
    font-weight: 500;
}


/* Definisco lo stile della recently play, John-Doe e artisti-popolari*/
.recently-play{
    margin: 20px auto;
}

.subtitle{
    font-size: 10px;
    opacity: 0.6;
    margin-top: 5px;
    text-align: center;
}
.main-subtitle {
    font-size: 10px;
    opacity: 0.6;
    margin-top: 5px;
    text-align: left;
    padding: 5px 15px;
}

.row img{
    max-width: 100%;
    object-fit: cover;
    padding: 15px;
}

.artisti-popolari img{
    border-radius: 50%;
    max-width: 100%;
    object-fit: cover;
    padding: 15px;
}

.john-doe{
    margin: 40px 0;
}

.artisti-popolari{
    margin-bottom: 100px;
}



/* Definisco lo stile del footer ovvero del Player */
footer {
    width: 100%;
    height: 100px;
    background-color: #666666;
    position: absolute;
    bottom: 0;
    left: 0;
}